@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Walter+Turncoat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgPinkToPurple {
  @apply bg-gradient-to-tr from-primary-magenta from-70% to-primary-purple to-100%
}

.bgPurpleToBlue {
  @apply bg-gradient-to-tr from-primary-purple from-70% to-primary-blue to-100%
}

.bgBlueToPink {
  @apply bg-gradient-to-tr from-primary-blue from-55% to-primary-magenta to-100%
}

.bgGrayToblue {
  @apply bg-gradient-to-tr from-light-gray from-55% to-light-blue to-100%
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.flexCol {
  @apply flex flex-col justify-between;
}

.flexColEnd {
  @apply flex flex-col justify-end;
}

.landingHeading {
  font-family: 'Walter Turncoat', cursive;
  @apply text-9xl
}

.normalHeading {
  font-family: 'Walter Turncoat', cursive;
  @apply text-7xl lg:text-8xl
}

.subHeading, .textFont {
  font-family: 'Quicksand', sans-serif;
}

.reactLogoSpin {
  @apply absolute -z-10 opacity-40 animate-spin-slow;
}

.navbar {
  font-family: 'Quicksand', sans-serif;
  @apply py-5 px-8 border-b border-nav-border gap-4;
}

.footer {
  font-family: 'Quicksand', sans-serif;
  @apply text-center mb-5;
}

.startButton {
  @apply mt-10 h-10 w-10 flex justify-center items-center rounded-full bg-primary-purple animate-pulse;
}

.controlButton {
  @apply mt-10 h-14 w-14 flex justify-center items-center rounded-full bg-primary-blue;
}

.pageWrapper {
  @apply flex flex-col justify-between h-screen;
}